
<!-- Load the path to static files -->


{% extends 'music/base.html' %}

{% block body %}
    <ul>
        {% for albums in all_albums%}
            <li><a href ="{% url 'music:detail' albums.id %}">{{ albums.albumTitle }}</a></li>

            <form action="{% url 'music:album-delete' albums.id %}" method="post" style=" display : inline">
                {% csrf_token %}
                <input type="hidden" name="album.id" value="{{ album.id }}" />
                <button type="submit" class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </form>
        {% endfor %}
    </ul>
   
{% endblock %}